<div clas="container d-flex align-center">
  <div class="row align-items-center d-flex m-auto sistemas">
    <div class="col-lg-2 w-50">
     <a class="d-flex align-middle" href="https://ntist.com.br/estoque/">
      <img class="m-auto" src=".\assets\iluminacao.png">
     </a>
    </div>
    <div class="col-lg-2 w-50 d-flex align-middle">
      <a class="d-flex align-middle"  href="https://sedetur.ntist.com.br/">
        <img class="m-auto"src=".\assets\oxeserratem.png" alt="">
      </a>
    </div>
  </div>
</div>
