
li{
  list-style-type: none
}

h3{
  text-align: center;
  text-decoration: solid 2px;
  font-family: 'Open Sans';
  font-size: 15px;
  color: white;
  line-height:100%;
}

.funcionarios{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.funcionario{
  margin: auto !important;
}


.funcionario #imagem{
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 5px solid #a1dbad ;
  width: 250px;
  height: 250px;
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: 2px;
  margin-right: 2px;
}

.funcionario #oculto{
  display: none;
}


#oculto{
  background-color: green;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.funcionarios :hover #imagem{
  overflow: hidden;
  transition: all 0.1s linear;
  border-radius: 30%;
  transform: translateX(1px);
}
.funcionario :hover #oculto{
  transition: all 0.5s linear;
  display: block;
  float:inline-end;
}
