<section id="sobre" class="justify-content-center">

  <div class="informacoes row ">
      <article class="col-lg-5 mb-5 ml-5 mr-5">
          <p>
              O Núcleo de Tecnologia da Informação é um grupo suplementar responsável por realizar a gestão de infraestrutura de software e hardware da Prefeitura Municipal de Serra Talhada.
          </p>
      </article>
      <article class="col-lg-5 mb-5">
          <p>
              O NTI tem também a resposabilidade de pesquisar, desenvolver e participar de projetos em Tecnologia de Informação e serviços de informática, bem como de captar recursos atráves de projetos, consultorias e serviços.
          </p>
      </article>
      <article class="col-lg-5 mb-5">
          <p>
              A atuação deste time é voltada à sede e todas as secretarias, fundações e superintendências vinculadas à prefeitura, bem como prestar serviços à sociedade por meio de projetos sociais diretamente ligados à tecnologia da informação.
          </p>
      </article>
  </div>
</section>
