<header>
  <!--TOPO-->
  <app-nav></app-nav>
</header>

<section>
<!--titulo-->
<div id="top"></div>
<app-titulo></app-titulo>

<!--sistemas-->
<h2 id="sistemas" class = "topico">
  Sistemas:
</h2>
<app-sistemas></app-sistemas>

<!--funcionários-->
<h2 id="time" class="topico">
  Nosso Time:
</h2>
<app-funcionarios></app-funcionarios>

<!--Informações sobre o núcleo-->
<h2 class = "topico">
  Sobre o Núcleo:
</h2>
<app-informacao></app-informacao>

<!--Footer-->
<app-footer></app-footer>

</section>
