@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.site{
  max-width: 100%;
  margin:0px;
  scroll-behavior: smooth;
}

.logo img{
  width: 50%;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 5%;
}
.top{
  justify-content: space-between;
  align-items: center;

  border-bottom: 5px solid rgb(174, 230, 174);
}
.top article{
  width: 40%;
}

.nav nav{
  background-color: #055215;
}
.nav span{
  border-color: white;
}
.nav a{
  color:white;
  font-size: 20px;
}

.title{
  margin-left: 10%;
}

.title h1{
  font-family: 'Open Sans', sans-serif;;
  font-weight: 900;
  color:#055215;
  font-size: 45px;
  line-height: 100%;
}

.title h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color:black;
  font-size: 30px;
}

.image{
  width: 30%;
  margin: auto;
}

.container{
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.topico{
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.topico{
  font-family: 'Open Sans', sans-serif;
  color: #055215;
  font-size: 40px;
}
.topico hr{
  width: 30px;
}
.sistemas{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sistemas img{
  width: 30%;
  margin: auto;
}

.sistemas img:hover,.sistemas img:focus{
  transition: linear 0.2s all;
  width: 35%;
}

.sistemas img::after{
  transition: linear 0.2s all;
  width: 30%;
}

.informacoes{
  display: flex;
  align-items: center;
  justify-content: center;
}

.informacoes article{
  font-size: auto;
  font-family: 'Open Sans', sans-serif;;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  padding: 5px 5px 5px 5px;
  box-shadow: 5px 5px green;
}

.informacoes article:hover{
  transition: all 0.1s linear;
  font-size: 25;
  border-radius: 100%;
  transform: translateX(1px) scale(1.1);
  box-shadow: 6px 6px green;
}

.final{
  border-top: 5px solid #a1dbad ;
  margin-top: 10%;
  margin-bottom: 4%;
  background-color: #055215;
  text-align: center;
  width: 100%;
  height: 200px;
  justify-content: center;
}

.final img{
  margin-top: 1%;
  width: 20%;
  margin-bottom: 2%;
}

.final h3{
  color: white;
  font-size: 100%;
  line-height: 90%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.final p a{
  margin: auto;
  color:white;
  text-decoration: none;
  font-size: 100%;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
