<body class="site">
<section>
  <!--TOPO-->
  <div class="top logo nav">
      <article>
        <img src='../assets/logo_st.png' alt="logo">
      </article>
      <article>
        <ul>
          <li><a href="#top">Home</a></li>
          <li><a href="#sistemas">Sistemas</a></li>
          <li><a href="#time">Time</a></li>
          <li><a href="#sobre">Sobre</a></li>
      </ul>
      </article>
  </div>
</section>
<!--titulo-->
<section id="topo">
  <div class="container">
      <article class="title">
          <h2>Olá, somos o</h2>
          <h1>Núcleo de Tecnologia<br> da Informação</h1>
          <hr>
      </article>
        <img class="image" src="../assets/bi-notebook.png">
  </div>
</section>

<!--sistemas desenvolvidos-->
<section id="sistemas">
    <h2 class="topico">
        Sistemas desenvolvidos:
        <hr>
    </h2>
    <article class = "sistemas">
        <img  src="../assets/a378e4b4-0669-420e-b832-20fe86077529.jpg">
        <img src="../assets/d2d258ea-3b10-46d8-8d31-01dc5f8ac8f1.jpg">
    </article>
</section>

<!--funcionários-->
<section id="time">
  <h2 class="topico">
      Nosso Time:
      <hr>
  </h2>
  <!--usa um módulo para resgatar as URLS-->
  <app-funcionarios></app-funcionarios>
</section>

<!--Informações sobre o núcleo-->
<section id="sobre">
  <h2 class = "topico">
      Nosso Time:
      <hr>
  </h2>
  <div class="informacoes">
      <article>
          <p>
              O Núcleo de Tecnologia da Informação é um grupo suplementar responsável por realizar a gestão de infraestrutura de software e hardware da Prefeitura Municipal de Serra Talhada.
          </p>
      </article>
      <article>
          <p>
              O NTI tem também a resposabilidade de pesquisar, desenvolver e participar de projetos em Tecnologia de Informação e serviços de informática, bem como de captar recursos atráves de projetos, consultorias e serviços.
          </p>
      </article>
      <article>
          <p>
              A atuação deste time é voltada à sede e todas as secretarias, fundações e superintendências vinculadas à prefeitura, bem como prestar serviços à sociedade por meio de projetos sociais diretamente ligados à tecnologia da informação.
          </p>
      </article>
  </div>
</section>


<footer class="final">
  <article><a href="#"><img  src="../assets/logo_st.png" alt=""></a></article>
  <h3>Núcleo de Tecnologia da Informação - NTI<br>
    Vinculado à Secretaria de Planejamento e Gestão</h3>
  <p><a href="https://goo.gl/maps/MKGLb28KTzZrYMY67">Av. Osvaldo de Godoy Lima, 37, AABB, Serra Talhada - PE, Brasil
    CEP: 56.912-260</a></p>
  </footer>
</body>
