
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}
#h2titulo{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #176e29;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 40px;
}
.spacer {
  flex: 1;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #219738;
  color: white;
  font-weight: 600;
  border-bottom:  10px #beecc7 ;
}

.toolbar img {
  margin: 0 16px;
}
.toolbar a{
  color:#eee;
  margin: 0 40px;
  font-style: bold;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
}
.toolbar a:hover{
  color:rgb(185, 185, 185)
}
.titulo{
  align-self: center;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif;
  margin: 100px 10%;
}
.titulo #green{
  Color:#176e29;
  font-size: 40px;
  letter-spacing: normal;
  font-weight: bold;
}
.titulo #black{
  Color:#000000;
  font-size: 25px;
}
.align-center{
  display:flex;
  align-items: center;
  justify-content: center;
}
.imagens{
  background-repeat: false;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 10px 10px 10px 10px;
}
#nome{
  display: flex;
  justify-content: center;
  font: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  color:#176e29;
}
#informacoes{
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 10px -4px green;
  display: flex;
  padding: 1%;
  margin: 10px;
  width: 33%;
  height: 100px;
  text-align: center !important;
}
.footer-up{
  background-color:#176e29 ;
  color: white;
  text-align: center;
  height: 100%;
}
footer{
  text-align: center;
  background-color: #219738;
  position: relative;
  display: block;
  margin:0px;
  padding: 30px 10px 10px 30px;
  width: 100%;
  height: 50px;
  border-bottom: 100px #beecc7;
}
