@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
.site{
  max-width: 100%;
  margin:0px;
  scroll-behavior: smooth;
}

.logo img{
  width: 40%;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 5%;
}
.top{
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: green;
  border-bottom: 5px solid rgb(174, 230, 174);
}
.top article{
  width: 40%;
}

.nav{
  display: flex;
}

.nav article ul{
  display: flex;
  margin: auto;
}

.nav article ul li{
  margin-left: 10%;
}


.nav article ul li a{
  font-family: 'Open Sans', sans-serif;;
  font-weight: 700;
  font-size: 15px;
  color: white;
  text-decoration: none;
  margin: 0;
}

.nav article ul li a:hover{
  font-size: 16px;
  text-decoration:wavy;
}

.title{
  margin-left: 10%;
}

.title h1{
  font-family: 'Open Sans', sans-serif;;
  font-weight: 900;
  color:#055215;
  font-size: 45px;
  line-height: 100%;
}

.title h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color:black;
  font-size: 30px;
}


.image{
  width: 40%;
  margin: auto;
}

.container{
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.topico{
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.topico{
  font-family: 'Open Sans', sans-serif;
  color: #055215;
  font-size: 40px;
}
.topico hr{
  width: 30px;
}

.sistemas{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sistemas img{
  width: 30%;
  margin: auto;
}

.informacoes{
  display: flex;
  align-items: center;
  justify-content: center;
}

.informacoes article{
  font-size: auto;
  font-family: 'Open Sans', sans-serif;;
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
  padding: 5px 5px 5px 5px;
  box-shadow: 5px 5px green;
}

.informacoes article:hover{
  transition: all 0.1s linear;
  font-size: 25;
  border-radius: 100%;
  transform: translateX(1px) scale(1.1);
  box-shadow: 6px 6px green;
}

.final{
  margin-top: 20%;
  margin-bottom: 4%;
  margin-bottom: 0;
  background-color: #055215;
  text-align: center;
  width: 100%;
  height: 200px;
  justify-content: center;
}
.final img{
  margin-top: 1%;
  width: 30%;
}
.final h3{
  color: white;
  font-size: 100%;
  line-height: 90%;
}
.final p a{
  color:white;
  text-decoration: none;
}
