
h1{
  font-family: 'Open Sans', sans-serif;;
  font-weight: 900;
  color:#055215;
  font-size: 50px;
  line-height: 100%;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color:black;
  font-size: 30px;
}


@media screen and (max-width:960px){
  h1{
    font-family: 'Open Sans', sans-serif;;
    font-weight: 900;
    color:#055215;
    font-size: 25px;
    line-height: 100%;
  }

  h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color:black;
    font-size: 15px;
  }
}
